.App {
  text-align: center;
  display:flex;
  
}

.div-heading{
 border-left:1px solid black;
 height:100vh;
width:30%;
 
}
.heading{
  display: flex;
  
}
.div{
  width:30%;
}


.list{
  border:1px solid black;
  margin:10px;
  list-style: none;
}







